<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
  <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost</property>
  <property name="hibernate.connection.username">SA</property>
  <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping resource="fr/dauphine/mail/entities/hbm/Labo.hbm.xml"/>
  <mapping resource="fr/dauphine/mail/entities/hbm/Medecin.hbm.xml"/>
  <mapping resource="fr/dauphine/mail/entities/hbm/Medicament.hbm.xml"/>
  <mapping resource="fr/dauphine/mail/entities/hbm/MedicamentProperty.hbm.xml"/>
  <mapping resource="fr/dauphine/mail/entities/hbm/Contrat.hbm.xml"/>
  <mapping resource="fr/dauphine/mail/entities/hbm/Patient.hbm.xml"/>
  <mapping resource="fr/dauphine/mail/entities/hbm/Symptome.hbm.xml"/>
  <mapping resource="fr/dauphine/mail/entities/hbm/Traitement.hbm.xml"/>
  <mapping resource="fr/dauphine/mail/entities/hbm/Maladie.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
